.code-snippet-wrap{

    .reset-code-style code {
        padding: .75em;
        // border-radius: 3px;
        border: unset;
        color: unset;
        background-color: unset;
        // white-space: normal;
        // word-break: break-word;
        // font-size: 0.875em;
    }
    
    .code-copy-btn {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        padding: .25rem .5rem;
        z-index: 5;
        // color: #ccc;
    }
}

