.reset-code-style code {
    padding: .75em;
    // border-radius: 3px;
    border: unset;
    color: unset;
    background-color: unset;
    // white-space: normal;
    // word-break: break-word;
    // font-size: 0.875em;
}